rect.active {
  fill: orange;
} 

svg {
  background: #fafafa;
}


body {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

svg text {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

text {
  font-weight: 500;
}